/* Media queries at bottom */

.top{
  text-align: center;

}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #f1f9ff;
  color: #2699fb;
  font: Georgia;

}

.button{
  border: 2px solid #0055C1;
  border-radius: 5px;
  margin: 5px;
}


.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  text-align: left;
}

.col{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex:1;
  justify-content: space-between;
  padding: 5%;
}


.slideshow{
  min-width:  500px;
  max-width:  500px;
  min-height: 500px;
  max-height: 500px;
  margin-bottom: 100px;
}

.fixed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  color: #2699fb;
  background-color: #2699FB;
  top:0;
  position:fixed;
  width: 100%;
  z-index: 100;

  /* width: 100%;

  background: #ffffff;
  padding: 10px 0;
  color: #2699fb;
  background-color: #2699FB;
  z-index: 100;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  align-items: flex-start; */
}

fixed-header a{
  background-color: white;

}

.fixed-footer {
  background-color: #2699FB;
  color: white;
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}

/* Tablet Size */
@media only screen and (max-width: 1024px){
  .ipad{

  }
  .slideshow{
    min-width:  500px;
    max-width:  500px;
    min-height: 500px;
    max-height: 500px;
  }
}

/* Smartphone Size */
@media only screen and (max-width: 768px){
  .iphone{

  }
  .slideshow{
    min-width:  375px;
    max-width:  375px;
    min-height: 375px;
    max-height: 375px;
  }
}

/* iPhoneX */
@media only screen and (max-width: 375px){
  .slideshow{
    min-width:  375px;
    max-width:  375px;
    min-height: 375px;
    max-height: 375px;
  }
  .iphone{
    padding-left: 100px;
  }
  .fixed-header{
    margin-bottom: 100px;
  }

  .top{
    padding-top: 80px;
  }

}
