body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #f1f9ff;
  color: #2699fb;
  font: Georgia;
}

a{
  color: inherit;
}


.button{
  border: 2px solid #0055C1;
  border-radius: 5px;
  margin: 5px;
}

.container-one{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-left: 5%;
  padding-right: 10%;
  flex: 1;


}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.col{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex:1;
  justify-content: space-between;
  padding: 5%;
}

.container-two{
  /* flex: 1;
  display: flex;
  flex-direction: row; */
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}

.box{
  background-color: #BCE0FD;
  border-radius: 25px;
  flex: 1;
  flex-grow: 1;
  margin: 5px;
    padding: 5px;
}

.box-1{
  background-color: #BCE0FD;
  border-radius: 25px;
  flex: 1;
  order: 1;
  flex-grow: 1;
  margin: 5px;
  padding: 5px;
}

.box-2{
  background-color: #BCE0FD;
  border-radius: 25px;
  flex: 2;
  order: 2;
  flex-grow: 1;
  margin: 5px;
  padding: 5px;
}

.long{
  /* height: 33%; */
  order: 1;
  /* width: 33%; */
  flex-grow: 2;
}

.fixed-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  color: #2699fb;
  background-color: #2699FB;
  top:0;
  position:fixed;
  width: 100%;
  z-index: 100;
}

fixed-header a{
  background-color: white;

}

.fixed-footer {
  background-color: #2699FB;
  color: white;
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}

.card {
  width: 80%;
  padding: 50px 0;
  color: #2699fb;
  margin: 0 auto;
  text-align: center;
  line-height: 32px;
}
/* Tablet Size */
@media only screen and (max-width: 1024px){
  .ipad{

  }
  .slideshow{
    min-width:  500px;
    max-width:  500px;
    min-height: 500px;
    max-height: 500px;
  }
}

/* Smartphone Size */
@media only screen and (max-width: 768px){
  .iphone{

  }
  .slideshow{
    min-width:  375px;
    max-width:  375px;
    min-height: 375px;
    max-height: 375px;
  }
}

@media screen and (max-width: 375px){

  body{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    Width: 100%;
  }

}
